@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

/* * {
    border: 1px solid red;
} */

/* Variables - start */
:root {
    --primaryText: #272727;
    --secondaryText: #525252;

    --border: #f1f1f1;
    --line: #d9d9d9;

    --primaryBackground: #fff;
    --secondaryBackground: #fbfbfb;
    --thirdBackground: #DDE6ED;
    --fourthBackground: #000;

    --primaryIcon: #071952;

    --sectionPadding: 6rem 0;

    --borderRadius: 0.7rem;
}
/* Variables - end */

/* Setup - start */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6, strong {
    color: var(--primaryText);
}
p {
    font-size: 1rem;
    line-height: 1.9rem;
}
p, span, label, input, textarea, li {
    color: var(--secondaryText);
}
a {
    text-decoration: none;
}
/* Setup - end */

/* Container utama - start */
.main-container {
    width: 1100px;
    margin: 0 auto;
}
/* Container utama - end */

/* Layout - start*/
.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
}
/* Layout - end */

/* Title - start*/
.pre-title {
    text-transform: uppercase;
    letter-spacing: .5rem;
    color: var(--secondaryText);
    position: relative;
    padding-left: 40px;
    width: fit-content;
    font-weight: 400;
    font-size: .9rem;
}
.pre-title::before {
    content: "";
    width: 30px;
    height: 1px;
    background: var(--line);
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
}
/* Title - end*/

/* Header - start */
/* -- Navbar - start */
.main-container .nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}
.main-container .nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}
/* --- Logo - start */
.main-container .nav .nav-logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 1.5rem;
}
.main-container .nav .nav-logo a {
    color: var(--primaryText);
}
/* --- Logo - end */
/* --- Navigation - start */
nav ul li {
    display: flex;
    align-items: center;
}
nav ul li a {
    color: var(--primaryText);
}
.btn {
    padding: 1rem 1.5rem;
    background-color: var(--primaryBackground);
    border: 1.5px solid var(--border);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.btn:hover {
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
/* --- Navigation - end */
/* --- Hamburger menu - start */
.hamburger {
    display: none;
    z-index: 999;
    position: fixed;
    top: 33px;
    right: 35px;
}
.hamburger div {
    width: 25px;
    height: 2px;
    background-color: var(--fourthBackground);
    margin: 7px;
    transition: all 0.2s;
    z-index: 999;
}
/* --- Hamburger menu - end */
/* -- Navbar - end */
/* -- Hero - start */
#hero {
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.hero-name {
    font-size: 3rem;
    font-weight: 700;
    margin: .5rem 0 1rem;
}
.hero-name span {
    color: var(--primaryIcon);
}
.hero-right {
    display: flex;
    justify-content: center;
}
.hero-right img {
    width: 80%;
}
/* -- Hero - end */
/* Header - end */

/* Main - start */
/* -- Services - start */
#services {
    background-color: var(--secondaryBackground);
    padding: var(--sectionPadding);
}
.services .pre-title {
    margin: 0 auto;
}
.services-title {
    text-align: center;
}
.section-title {
    margin: 1rem 0 5rem;
    font-size: 2rem;
}
.service {
    padding: 3rem 2rem;
    text-align: center;
    background-color: var(--primaryBackground);
    border-radius: var(--borderRadius);
}
.service h4 {
    margin: 1rem 0;
    font-weight: 500;
    font-size: 1.05rem;
}
.service-icon {
    background: var(--thirdBackground);
    width: fit-content;
    margin: 0 auto;
    padding: 1rem 1.3rem;
    border-radius: 0.5rem;
}
.service-icon svg {
    fill: var(--primaryIcon);
}
/* -- Services - end */
/* -- Portfolios - start */
#portfolios {
    padding: var(--sectionPadding);
}
.portfolio {
    border-radius: var(--borderRadius);
    overflow: hidden;
}
.portfolio-cover {
    height: 250px;
}
.portfolio-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.portfolio-info {
    padding: 2rem 1.5rem;
}
.portfolio-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.portfolio-title a svg {
    transition: .2s ease-in-out;
}
.portfolio-title a svg:hover {
    fill: var(--primaryIcon);
}
.portfolio h4 {
    font-weight: 500;
    font-size: 1.05rem;
}
.portfolio-tags {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}
.portfolio-tags div {
    font-size: .9rem;
    border: 1px solid var(--border);
    padding: .4rem 1rem;
    color: var(--secondaryText);
}
/* -- Portfolios - end */
/* Main - end */